[submodule "bryton-gps-linux"]
	path = bryton-gps-linux
	url = git@github.com:adamsutton/bryton-gps-linux.git
[submodule "stravalib"]
	path = stravalib
	url = git@github.com:adamsutton/stravalib.git
[submodule "python-fitparse"]
	path = python-fitparse
	url = git@github.com:adamsutton/python-fitparse.git
